

#main-container {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: row;
}
button:hover,input[type=submit],img:hover  {
    cursor: pointer;
}



#drink-menu {
    display: flex;
    padding-top: 350px;
    /* padding-left: 20px;
    padding-right: 20px; */
    min-width: 300px;
    /* height: 100vh; */
    background-color: rgb(67, 67, 75);
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0; 
    overflow-y: scroll;

}

#details-body {
    width: auto;
    


}

#inner-menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#menu-title {
    display: flex;
    padding: 0px;
    position: relative;
}

h2 {
    color: whitesmoke;
}


p {
    color: whitesmoke;
}

#drink-menu h2 {
    display: list-item;
    font-size: 30px;
    letter-spacing: 4px;
    /* padding: none;
    margin: none; */
    /* padding: 15px; */

}


#drink-menu img {
    width: 200px;
    height: 200px;
    display: list-item;
    padding: 20px;
    padding-top: 20px;
    
}

#drink-menu img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 0.5rem whitesmoke);
}

/* #background-div {
    background-color: greenyellow;
} */

#drink-details {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;

}

#drink-details img {
    width: 400px;
    height: 400px;
}

#details-body {
    display: flex;
    justify-content: center;
}
#detail-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
}

#display-classic-drink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    
    
    

}

#create-drink-div {
    background-color: blueviolet;

}

section {
    margin: 50px;
}

a:link, a:visited {
    color: rgb(183, 181, 181);
    text-decoration: none;
}

a:hover {
    color:rgb(183, 181, 181);
    text-decoration: underline;
}


/* #edit-drink-dropdown {
    background-color: aqua;
      
} */

#edit-drink-div {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#edit-drink-div input {
    padding: 10px 10px;
    width: calc(100% -30px);
    border: none;
    border-radius: 1px;
    background-color: grey;
    
}

#autocomplete-list {
    /* position: absolute; */
    top: 60;
    left: 0;
    color: whitesmoke;
    list-style-type: none;
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 0;
    background-color: grey;
    max-height: 100px;
    overflow-y: scroll;

}

#autocomplete-list ul {
    margin: 0; 
    padding: 0;
    
}

#add-ingredient::placeholder {
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
}



#autocomplete-list ul li {
    /* padding: 10px;
    cursor: pointer;
    list-style: none;
    border-radius: 3px;
    opacity: 0;
    display: none;
    padding: 8px 12px;
     */
    padding: 1px;
    cursor: pointer;
    list-style: none;
    transition: all .5s linear;
    text-align: center;

    
}

.show ul li {
    opacity: 1;
    display: block;
}

body {
    background: rgb(36, 36, 36);
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;

}

.circle-drink {
    border-radius: 50%;
    margin: 10px;
    background-color: grey;
    padding: 10px;
} 

#filter-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 15%;
    width: 15%;
    border-radius: 20px;
    z-index: 5;
}

.highlight-img-style {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#filter-drink-form img {
    margin: 10px;
}
#filter-drink-form img:hover {
    transform: scale(1.5);
    transform: rotate(.07125turn);
}
#filter-drink-div {
    position: absolute;
    left: 10%;
    top: .75%;
}
#filter-drink-form {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 14%;
    gap: 10px;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    z-index: 4;

}
#filter-drink-form h1 {
    width: 100%;
    display: block;
    color: black;
}
#mixer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 140px;
}   
#mixer-container h1{
    width: 100%;
    display: block;
    color: black;

}
/* body::-webkit-scrollbar{

} */


#ingredients-buttons {
    display: flex;
    flex-direction: row;
    max-width: 500px;

}
#filter-submit {
    width: 20%;
    height: 50px;
    border-radius: 10px;
}

.ingredient-tags {
    background-color: grey;
    font-size: smaller;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 7px;
    border-radius: 30px;
    margin: 5px;
    border: 1px solid #959595;

}

.ingredient-tags:hover {
    background-color: rgb(52, 52, 52);
    cursor: pointer;

}

.remove-tag {
    color: inherit;
    background-color: inherit;
    border-style: none;
    
}

.remove-tag:hover {
    color: blueviolet;
    cursor: pointer;
}

#mix {
    font-family: "Oswald", sans-serif;
    color: whitesmoke;
    border: 1px solid #959595;
    border-radius: 40px;

}
#filter-drink-display {
    border-radius: 10px;
    z-index: 3;
    position: absolute;
    background-color: white;
    padding: 20px 100px 120px 100px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 85%;

}
#filter-drink-display h1 {
    color: black;
}
#filter-drink-display .close {
    position: absolute;
    right: 0;
    top: 0;
    border: 2px black solid;
    margin: 0;
    background-color: red;
}
#filter-drink-display .close:hover {
cursor: pointer;
}
#other-matched-drinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
#other-matched-drinks h1 {
    display: block;
    width: 100%;
    color: red;
}
.img-container.liquor{
    border-radius: 10px;
}

.ingredient-container {
    border-radius: 50%;
    margin: 10px;
    background-color: grey; 
    padding: 10px;
    overflow: hidden;
}
.background-color-class {
    background-color: green;
}
